/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Noto Sans TC", "sans-serif";
  background: #000;
  background-image: url("../images/frontPageBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.menu {
  margin-top: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 36px;
}
.menu li {
  line-height: 2.5em;
  width: 25%;
  text-align: center;
}
.menu li a {
  display: block;
  border: 1.5px dashed #3E517A;
  border-radius: 8px;
  color: #3E517A;
  -webkit-transition: translateY 5s;
  transition: translateY 5s;
}
.menu li a:hover {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
  border: 2px solid #3E517A;
  font-weight: bold;
}