body{
    font-family: "Noto Sans TC", "sans-serif";
    background: #000;
    background-image: url("../images/frontPageBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wrap{
    max-width: 960px;
    margin: 0 auto;
}
.menu{
    margin-top: 30vh;
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    li{
        line-height: 2.5em;
        width: 25%;
        text-align: center;
        a{ 
            display: block;
            border: 1.5px dashed $main-color;
            border-radius: 8px;
            color: $main-color;
            transition: translateY 5s;
            &:hover {
                transform: translateY(-1em);
                border: 2px solid $main-color;
                font-weight: bold;
              }
        }
    }
}
